@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Ubuntu', Regular 400;
    @apply bg-gradient-to-r from-cyan-500
      to-blue-500 subpixel-antialiased;
  }
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    height: 20rem;
  }
  .button {
    @apply p-2 m-2 rounded-md bg-gradient-to-r from-blue-500 to-indigo-500;
  }
  .img {
    @apply border border-blue-500 bg-white p-2 m-2 rounded-md;
  }
  .card {
    @apply bg-white rounded-lg p-6 drop-shadow-xl h-full;
  }
  .gradient {
    @apply bg-gradient-to-r from-blue-500 to-indigo-500;
  }
}
